/* Página padrão CSS de todas as páginas */
html {
    scroll-behavior: smooth; /* faz uma rolagem suave */
    font-family: Arial, Helvetica, sans-serif; /* fonte padrão */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding e a borda são incluídos na largura e altura que forem definidas */
}

/* paleta de cores CONECTE */
:root {
    --azul-escuro: #020F59;
    --azul-claro: #27368F80;
    --cinza: #F1F1F1;
    --verde-neon: #1BD079;
    --verde-claro: #EEFFB1;
    --laranja: #FF8716;
}

h1{
    font-size: 50px;
    font-weight: bolder;
}

p{
    font-size: 15px;
    font-weight: lighter;
}